    footer{
	background-color: black;
	color: white;
}
a:hover {
    opacity: 0.6;
}
p{
	text-align: justify;
}
#red{
  background-image: url(../images/background-texture-9993.jpeg);
  /*background-repeat: no-repeat;*/
  color: white;
}

#black{
  background-image: url(../images/04_PLUS_Auditions-danseurs4.jpg);
  color: white;
}

#white{
  background-image: url(../images/back2.jpg);
  background-repeat: no-repeat;
  background-position: left top;
}

h1,h2,h3,h3,h4,h5{
  text-align: center;
}